.home{
    
}

.hero{
    height: 850px;
    width: 100%;
    background-image: url('../../assets/hero.jpg');
    background-size: cover;
}

.text-area{
    position: absolute;
    top: 40%;
    left: 33%;
}

.line{
    background: #000;
    height: 40px;
    width: 2px;
}

section{
    margin-bottom: 3rem;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}